<div class="bg-white">
  <div class="relative bg-white-900">
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
      <img
        src="https://www.myopinionmatters.ie/images/header-images/02_home_image.jpg"
        alt="My Opinion Matters background image"
        class="h-full w-full object-cover object-center"/>
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-50"></div>

    <div class="relative mx-auto flex max-w-3xl flex-col items-center px-6 py-32 text-center sm:py-64 lg:px-0">
        <h1 class="text-4xl font-bold tracking-tight text-white lg:text-6xl">
            GET FREE GIFT CARDS FOR YOUR OPINIONS
        </h1>
        <p class="mt-4 text-xl text-white">
            Take a quick survey and get a FREE gift card.
        </p>
        <a href="/surveys" class="mt-8 inline-block rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-gray-900 hover:bg-gray-100">
            Take the daily survey
        </a>
    </div>
  </div>
</div>
